html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ------------------------css reset ends here------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

.head div,
.header div {
    max-width: 1400px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

.btn {
    padding: 12px 36px;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

.btn-1 {
    background-color: white;
    color: rgb(253, 101, 107);
    letter-spacing: 7px;
    border: 1px solid rgb(253, 101, 107);
    margin-top: 20px;
    width: 100%;
}

.btn-2 {
    background-color: white;
    color: gray;
    padding: 2% 5%;
    border: 1px solid rgb(88, 104, 120);
    margin-top: 13px;
}

.side_content h2 {
    color: rgb(17, 34, 62);
    font-size: 25px;
    font-weight: 600;
    padding: 12px 20px;
    border-bottom: 1px solid rgb(223, 235, 253);
}


/* -------------------header-------------------- */

.active {
    border-bottom: 1px solid #012D5B;
}

.head {
    background-color: rgb(1, 45, 91);
    color: aliceblue;
    padding: 10px 0;
}

.head nav i {
    margin-left: 22px;
}

.header {
    padding: 20px 0;
}

.header nav a {
    margin-left: 24px;
    color: rgb(1, 45, 91);
}

.contact {
    background-color: rgb(245, 84, 35);
    color: white !important;
    padding: 10px 15px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

.head div h5 {
    margin-left: -35%;
}


/* ---------------------------hero----------------------------- */

.hero {
    background-image: url("../hero/blog_hero.jpg");
    height: 300px;
    padding-top: 120px;
    color: white;
    font-weight: bolder;
}


/*-------------------------------- blog------------------------------------- */

.blog {
    padding: 6% 0;
}

.parent_content {
    display: flex;
}

.content {
    width: 65%;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.side_content {
    width: 30%;
    margin: 10px;
    padding: 10px;
}


/* ------------------------------------blog-container----------------------------------------- */


/* copied from codepen .card-1 && .card-1:hover */

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.blog-container {
    background: #fff;
    border-radius: 2px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border: 1px solid lightgrey;
}

.blog-container h2 {
    color: rgb(17, 34, 62);
    font-weight: 600;
    font-size: 28px;
}

.blog-container p {
    color: rgb(88, 104, 120);
}

.m-4 {
    margin: 10px 0 0 40px;
}

.m-2 {
    margin-right: 10px;
}

.blog-container span {
    color: white;
    background-color: rgb(253, 101, 107);
    display: inline-block;
    text-align: center;
    margin-left: 40px;
    padding: 12px 25px;
    font-weight: 500;
    border-radius: 8px;
}

.blog-container span b {
    font-weight: 800;
    font-size: x-large;
}

.blog-container img {
    margin-bottom: -74px;
    width: 100%;
}

.gray {
    color: gray;
    display: flex;
    margin-top: 23px;
}

.pagination {
    text-align: center;
    margin-top: 35px;
}

.pagination span {
    padding: 7px 10px;
    color: gray;
    margin-right: 5px;
    border: 1px solid gainsboro;
}

.color {
    background-color: gainsboro;
}


/*---------------------------------- side_content------------------------------------ */

div.input {
    background-color: rgb(240, 241, 242);
    padding: 20px;
    text-align: center;
}

div.input-items {
    display: flex;
    justify-content: center;
}

.flex-col {
    flex-direction: column;
    margin: 0 20px;
    padding: 5% 0;
}

.flex-s {
    display: flex;
    align-items: center;
}

.input .form {
    height: 38px;
    padding: 1%;
    width: 89%;
}

.input-items i {
    color: white;
    background: rgb(253, 101, 107);
    padding: 7px;
}

.category h2 {
    color: rgb(17, 34, 62);
    font-size: 25px;
    font-weight: 600;
    padding: 12px 20px 12px 0px;
}

.list {
    padding: 0 20px;
}

.b-bot {
    border-bottom: 1px solid rgb(223, 235, 253);
}

.category .list ul li {
    padding: 14px 20px 14px 0px;
    font-size: 15px;
}

.category {
    margin-top: 5%;
    background-color: rgb(240, 241, 242);
    color: rgb(88, 104, 120);
}

.recent {
    margin-top: 5%;
    background-color: rgb(240, 241, 242);
    color: rgb(88, 104, 120);
}

.posts h4 {
    font-size: 14px;
    font-weight: 600;
    color: rgb(17, 34, 62);
}

.recent p {
    color: gray;
    font-size: 12px;
}

.posts {
    padding: 20px;
}

.tag {
    margin-top: 5%;
    background-color: rgb(240, 241, 242);
}

.cloud-button {
    padding: 5% 7%;
    width: 90%;
}

.instagram {
    margin-top: 5%;
    background-color: rgb(240, 241, 242);
}

.insta-post {
    padding: 5% 6%;
}

.news {
    margin-top: 5%;
    background-color: rgb(240, 241, 242);
}

.news-letter h2 {
    color: rgb(17, 34, 62);
    font-size: 25px;
    font-weight: 600;
    padding: 12px 20px;
    border-bottom: 1px solid rgb(223, 235, 253);
}

.in-form {
    padding: 1%;
    margin-bottom: 1rem;
    height: 35px;
}

.posts img {
    margin-right: 15px;
}

.btn-3 {
    color: rgb(253, 101, 107);
    border: 1px solid rgb(253, 101, 107);
    background-color: white;
}


/* ---------------------information------------------------------- */

.information {
    padding: 6% 0 10% 0;
    background-color: rgb(240, 241, 242);
}

.col-5 {
    width: 22%;
    height: 200px;
}

.col-5 p {
    color: gray;
    line-height: 2.2;
}

.col-5 nav i {
    margin-right: 25px;
    padding-top: 30px;
    font-size: 20px;
}

.col-5 h3,
.col-5 img {
    color: rgb(1, 45, 91);
    padding: 30px 0;
    font-size: 30px;
    font-weight: 600;
}


/* -------------------------footer---------------------- */

.footer {
    background-color: rgb(240, 241, 242);
}

.foot {
    text-align: center;
    color: gray;
    padding: 30px 0;
}

.footer hr {
    margin: 0px;
}