        html,
        body,
        div,
        span,
        applet,
        object,
        iframe,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        a,
        abbr,
        acronym,
        address,
        big,
        cite,
        code,
        del,
        dfn,
        em,
        img,
        ins,
        kbd,
        q,
        s,
        samp,
        small,
        strike,
        strong,
        sub,
        sup,
        tt,
        var,
        b,
        u,
        i,
        center,
        dl,
        dt,
        dd,
        ol,
        ul,
        li,
        fieldset,
        form,
        label,
        legend,
        table,
        caption,
        tbody,
        tfoot,
        thead,
        tr,
        th,
        td,
        article,
        aside,
        canvas,
        details,
        embed,
        figure,
        figcaption,
        footer,
        header,
        hgroup,
        menu,
        nav,
        output,
        ruby,
        section,
        summary,
        time,
        mark,
        audio,
        video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */
        
        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        menu,
        nav,
        section {
            display: block;
        }
        
        body {
            line-height: 1;
        }
        
        ol,
        ul {
            list-style: none;
        }
        
        blockquote,
        q {
            quotes: none;
        }
        
        blockquote:before,
        blockquote:after,
        q:before,
        q:after {
            content: '';
            content: none;
        }
        
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        /* ------------------------css reset ends here------------------------------ */
        
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }
        
        body {
            font-size: 18px;
            font-family: "Roboto", sans-serif;
            line-height: 1.5;
        }
        
        .container {
            max-width: 1400px;
            margin: 0 auto;
            padding: 0 32px;
        }
        
        .flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        a {
            text-decoration: none;
        }
        
        .btn {
            padding: 12px 38px;
            text-transform: uppercase;
            font-size: 18px;
            text-align: center;
            font-weight: 600;
        }
        
        .btn-1 {
            background-color: rgb(253, 123, 128);
            color: white;
            border-radius: 7px;
        }
        /* -------------------header-------------------- */
        
        .active {
            border-bottom: 1px solid #012D5B;
        }
        
        .head {
            background-color: rgb(1, 45, 91);
            color: aliceblue;
            padding: 10px 0;
        }
        
        .head nav i {
            margin-left: 22px;
        }
        
        .header {
            padding: 20px 0;
        }
        
        .header nav a {
            margin-left: 24px;
            color: rgb(1, 45, 91);
        }
        
        .contact {
            background-color: rgb(245, 84, 35);
            color: white !important;
            padding: 10px 15px;
        }
        
        h1 {
            text-align: center;
            font-size: 50px;
        }
        
        .head div h5 {
            margin-left: -35%;
        }
        /*----------------------------- hero -----------------------------------*/
        
        .hero {
            background-image: url("../hero/contact_hero.jpg");
            height: 300px;
            padding-top: 130px;
            color: white;
            font-weight: bolder;
        }
        /* --------------------------------------map---------------------------- */
        
        iframe {
            width: 80%;
            height: 400px;
        }
        
        .iframe {
            text-align: center;
            padding: 50px;
        }
        /* ------------------------------address---------------------------- */
        
        .form {
            display: inline;
            width: 90%;
            padding: 15px;
            margin: 20px;
        }
        
        .form_parent form {
            width: 60%;
        }
        
        form textarea {
            height: 190px;
        }
        
        button {
            box-shadow: none;
            border: 0;
        }
        
        .btn-2 {
            border: 1px solid rgb(253, 123, 128);
            color: rgb(253, 123, 128);
            background-color: white;
        }
        
        .contacts {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 400px;
        }
        
        .forms h2 {
            font-size: 40px;
            color: rgb(1, 45, 91);
            font-weight: 700;
            padding-left: 10.5%;
        }
        
        .contacts-icon {
            width: 35px;
            height: 45px;
            font-size: 25px;
            border-radius: 50%;
            margin-right: 18px;
            display: flex;
            justify-content: center;
            color: gray;
        }
        
        .contacts li {
            display: flex;
            padding: 20px 50px;
            width: 100%;
        }
        
        .form_sub {
            width: 96%;
        }
        
        .form_parent {
            display: flex;
            padding-left: 9.5%;
        }
        
        .gray {
            color: gray;
        }
        /* ---------------------letter------------------------ */
        
        .letter {
            background-color: rgb(1, 45, 91);
        }
        
        .btn-2 {
            margin: 10px 20px;
        }
        
        .request {
            width: 46%;
        }
        
        .service-letter {
            text-align: right;
        }
        
        .request {
            padding: 6% 0;
        }
        
        .request h1 {
            color: white;
            font-weight: bolder;
            font-size: 50px;
            text-align: left;
        }
        
        .request p {
            color: white;
            font-size: 20px;
        }
        
        .letters {
            height: 50px;
            margin: 10px 25px;
            background-color: rgb(1, 45, 91);
            color: white;
            border: 1px solid rgb(41, 86, 132);
            width: 300px;
            padding: 0 25px;
        }
        
        .service-letter for div {
            width: 100%;
        }
        
        .service-letter div {
            display: flex;
        }
        
        .letters::placeholder {
            color: white;
            font-weight: bold;
        }
        
        .service-letter div select {
            width: 478px;
            padding: 0 25px;
            font-weight: bold;
        }
        
        .btn-1 {
            height: 50px;
            width: 21%;
            margin-top: 10px;
        }
        /* ---------------------information------------------------------- */
        
        .information {
            padding: 7% 0;
        }
        
        .col-4 {
            width: 22%;
            height: 200px;
        }
        
        .col-4 p {
            color: gray;
            line-height: 2.3;
        }
        
        .col-4 nav i {
            margin-right: 25px;
            padding-top: 30px;
            font-size: 20px;
        }
        
        .col-4 h3,
        .col-4 img {
            color: rgb(1, 45, 91);
            padding: 30px 0;
            font-size: 30px;
            font-weight: 600;
        }
        /* -------------------------footer---------------------- */
        
        .footer {
            text-align: center;
            color: gray;
            padding: 30px 0;
        }